[Desktop Entry]
Name=Budgie Desktop (Wayfire)
Exec=budgie-wayfire-wrapper
TryExec=budgie-wayfire-wrapper
Icon=
Type=Application
DesktopNames=Budgie
Keywords=launch;Budgie;desktop;session;
